<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="convertByteOrShortToInt" value="true" />
        <option name="generateWithIfTest" value="true" />
        <option name="iconName" value="arrow" />
        <option name="ifTestStringNullAndEmpty" value="true" />
        <option name="tempFilePath" value="/var/folders/fj/31b93k8j72b0723dj4cj4vk00000gn/T/startLearnGo-darwin-10.6-amd64.dylib7327678393303993023" />
        <option name="useActualParamNames" value="true" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>